* {
  font-family: 'Inter', sans-serif;
}

.btn--template {
  border-radius: 25px;
  font-size: 14px;
  font-weight: 400;
}


.primary--bg, .primary--bg:hover {
background-color: #0275D8;
color: #FFF;
}
.light--bg, .light--bg:hover {
  background-color: #CCC;
}

h1, h2, h3, h4, h5, h6, .highcharts-title {
  font-weight: 700;
}